<div style="background : rgba(32, 107, 42, 0.726)">
<span><a href="{% url 'home' %}" style="color: white; font-size: larger;">Home</a></span>
<span><a href="{% url 'about' %}" style="color: white; font-size: larger;">About</a></span>
<span><a href="{% url 'contact' %}" style="color: white; font-size: larger;">Contact</a></span>
<span><a href="{% url 'signup' %}" style="color: white; font-size: larger;">Sign-up</a></span>
<span><a href="{% url 'signin' %}" style="color: white; font-size: larger;">Sign-in</a></span>
</div>